* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', serif;
  transition: all 0.3s linear;
}
*:focus {
  outline: none;
}
hr {
  border: none;
  /* Убираем границу */
  background-color: #008cff;
  /* Цвет линии */
  color: #008cff;
  /* Цвет линии для IE6-7 */
  height: 1px;
  /* Толщина линии */
  width: 70%;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  width: 100%;
  height: 100vh;
  background: url(../img/serverimg/main-background.jpg) no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
}
.main a {
  padding: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}
.main a:after,
.main a:before {
  backface-visibility: hidden;
  border: 2px solid rgba(0, 140, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.main a:hover:after,
.main a:hover:before {
  border-color: #008cff;
  transition: width 0.5s ease-in-out;
  width: 189.36px;
}
.main a:hover:before {
  top: 0;
  width: 189.36px;
}
/*Страница логина*/
.sign-in-label {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
  padding-top: 50px;
}
.container {
  width: 100vw;
  height: 100vh;
  background: url(../img/serverimg/main-background.jpg) no-repeat center;
}
.init-form {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}
.login-form > * {
  margin-bottom: 20px;
}
.login-form input {
  width: 400px;
  height: 70px;
  padding-left: 15px;
  background: #ffffff;
  border: 2px solid #008cff;
  color: #444444;
  border-radius: 20px;
  font-size: 17px;
}
.login-form .submit {
  height: 50px !important;
  background: #008cff;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding-left: 0;
  cursor: pointer;
}
.login-form .submit:hover {
  background: #0070cc;
}
.login-form a {
  width: 400px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 20px;
  background: #444444;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.login-form a:hover {
  background: #2b2b2b;
}
.navbar {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar .menu {
  margin-left: 50px;
  margin-right: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  list-style: none;
}
.navbar .menu li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  transition: 0.3s linear;
}
.navbar .menu li a {
  color: #008cff;
}
.navbar .menu li a:visited {
  color: #008cff;
}
.navbar .menu li a:hover {
  color: #005499;
}
.navbar .logout {
  margin-right: 20px;
}
.navbar .logout button {
  padding: 5px 15px;
  border-radius: 25%;
  border: #008cff 2px solid;
  color: #008cff;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.navbar .logout button:hover {
  background: #008cff;
  color: #ffffff;
}
/*Главная страница*/
.front_page {
  background: url(../img/serverimg/main-background.jpg) no-repeat center;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
}
.header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
}
.filter {
  width: fit-content;
  margin-top: 110px;
}
.filter input {
  width: 50vw;
  height: 50px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px 0 0 15px;
  color: #444444;
  background: #ffffff;
  border-right: none;
  font-size: 17px;
}
.filter button {
  height: 50px;
  padding-right: 15px;
  border: 2px #008cff solid;
  border-radius: 0 15px 15px 0;
  background: #ffffff;
  border-left: none;
  margin-left: -10px;
  color: #008cff;
  font-size: 17px;
  cursor: pointer;
}
.main-message-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
.add-message-field {
  display: flex;
}
.add-message-field input {
  margin-right: 5px;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  background: #ffffff;
  border: 2px solid #008cff;
  color: #444444;
  border-radius: 10px;
  font-size: 17px;
}
.add-message-field .tag {
  width: 100px;
}
.add-message-field #file {
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
}
.add-message-field [type="file"] + label {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-message-field button {
  background: #008cff;
  color: #ffffff;
  border: none;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.add-message-field button:hover {
  background: #0070cc;
}
.message {
  margin-top: 40px;
  width: 40%;
  border-radius: 20px;
  border: 2px solid #008cff;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
}
.message .delete {
  display: inline-block;
  float: right;
}
.message .delete button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
}
.message .content-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.message .content-container img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 260px;
  object-fit: contain;
}
.message span {
  display: block;
  padding: 20px;
}
.message span a {
  color: #ffffff;
}
.message span a:visited {
  color: #ffffff;
}
.message .message-author {
  border-radius: 15px 15px 0 0;
  font-size: 20px;
  background: #008cff;
  color: #ffffff;
  overflow: hidden;
}
.message .message-tag {
  font-style: italic;
  display: flex;
  height: 60px;
  align-items: center;
}
.message .message-time {
  display: inline;
  margin-left: auto;
}
.message .send_comment {
  display: flex;
  justify-content: center;
}
.message .send_comment .input_comment {
  width: 50vw;
  margin-left: 20px;
  height: 50px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px;
  color: #444444;
  background: #ffffff;
  font-size: 17px;
}
.message .send_comment .submit_comment {
  margin-left: 20px;
  margin-right: 20px;
  background: #008cff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}
.message .comments {
  margin-top: 30px;
  transition: height 0.5s ease-out;
}
.message .comments .comments-list {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-out;
}
.message .comments h2 {
  margin-left: 20px;
  color: #444444 !important;
  font-size: 20px;
  cursor: pointer;
}
.message .comments .comments-list span :nth-child(even) {
  background: #808080 !important;
  color: #ffffff;
}
.message .comments .comment_one {
  border-radius: 20px;
  margin: 20px;
  background: #e6e6e6;
}
.message .comments .comment_one .comment_author {
  padding-bottom: 5px;
}
.message .comments .comment_one .comment_text {
  padding-top: 5px;
  padding-bottom: 5px;
}
.message .comments .comment_one .comment_time {
  text-align: end;
  padding-top: 0;
  font-size: 13px;
}
.message .comments h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 20px;
}
.admin-header-nav {
  background: url(../img/serverimg/secondary-background.jpg) no-repeat center;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
  width: 100%;
  height: fit-content;
  padding-bottom: 10%;
}
.admin-header-nav .admin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
.admin-header-nav h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
  padding-bottom: 70px;
}
.admin-header-nav input {
  width: 50vw;
  height: 50px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px;
  color: #444444;
  background: #ffffff;
  font-size: 17px;
}
.user-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.user-list-container .users-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.user {
  max-width: 30%;
  flex: 30%;
  border: #008cff 2px solid;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.user .user-header {
  background: #008cff;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.user .user-header .id {
  font-weight: bold;
  margin-right: 10px;
}
.user .user-role {
  padding: 10px;
}
.user .delete-edit-user {
  padding: 10px;
}
.user .delete-edit-user a {
  color: green;
}
.user .delete-edit-user a:visited {
  color: green;
}
.user .delete-edit-user input {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  color: darkred;
}
.container-profile {
  display: flex;
  justify-content: center;
}
.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 50px 80px;
  box-shadow: 0 0 46px -7px rgba(154, 154, 154, 0.2);
  width: fit-content;
  border-radius: 20px;
}
.profile-info .icon {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: #008cff 2px solid;
}
.profile-info .main-info {
  height: 256px;
  width: fit-content;
  max-width: 712px;
  padding: 30px;
}
.profile-info .main-info h3 {
  font-size: 30px;
  color: #444444;
}
.profile-info .main-info span {
  color: lighter(#444444, 10%);
}
.profile-info .main-info .subscriptions {
  margin-top: 10px;
  margin-bottom: 10px;
}
.profile-info .main-info .subscriptions span {
  display: block;
}
.profile-info .main-info .user_page_button,
.profile-info .main-info button {
  width: 100%;
  display: block;
  padding: 20px 30px;
  background: #008cff;
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.profile-info .main-info .user_page_button:hover,
.profile-info .main-info button:hover {
  background: #0070cc;
}
.profile-info .main-info .unsubscribe {
  background: #444444;
}
.profile-info .main-info .unsubscribe:hover {
  background: #2b2b2b;
}
footer {
  background: #008cff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: auto;
}
footer h2 {
  color: #ffffff;
  margin-bottom: 60px;
}
footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-media a {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}
footer .social-media a img {
  width: 42px;
  height: 42px;
}
.edit_self_profile {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.edit_self_profile .editble {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 46px -7px rgba(154, 154, 154, 0.2);
  margin-bottom: 80px;
}
.edit_self_profile .editble > * {
  margin-bottom: 30px;
}
.edit_self_profile .editble h3 {
  font-size: 30px;
  color: #008cff;
}
.edit_self_profile .editble [type="text"] {
  width: 400px;
  height: 50px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px;
  color: #444444;
  background: #ffffff;
  font-size: 17px;
}
.edit_self_profile .editble .status_edit_textarea {
  height: 150px !important;
}
.edit_self_profile .editble .save_btn {
  border: none;
  cursor: pointer;
  background: #008cff;
  color: #ffffff;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 16px;
}
.edit_self_profile [type="file"] + label {
  background: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit_self_profile #file {
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
}
.section-admin-edit {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-admin-edit .admin-edit-container {
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 31px 0 rgba(34, 60, 80, 0.2);
}
.section-admin-edit .admin-edit-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-admin-edit .admin-edit-form .username {
  width: 100%;
  height: 30px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px;
  color: #444444;
  background: #ffffff;
  font-size: 17px;
  margin-bottom: 20px;
}
.section-admin-edit .admin-edit-form button {
  margin-top: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: #008cff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.section-admin-edit .admin-edit-form .container-of-roles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.section-admin-edit .admin-edit-form .container-of-roles .check-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.user-from-users {
  width: 80%;
  justify-content: flex-start;
}
.user-from-users .go-to-user:focus {
  color: #444444;
}
/*# sourceMappingURL=style.css.map */