//Variables
@primary:           #008cff;
@mobile-background: #89c6ff;
@secondary-grey:    #444444;
@secondary-white:   #ffffff;


* {
  margin:      0;
  padding:     0;
  box-sizing:  border-box;
  font-family: 'Mulish', serif;
  transition:  all .3s linear;

  &:focus {
    outline: none;
  }
}

.error_text {
  color: red;
}

hr {
  border:           none; /* Убираем границу */
  background-color: @primary; /* Цвет линии */
  color:            @primary; /* Цвет линии для IE6-7 */
  height:           1px; /* Толщина линии */
  width:            70%;
}

a {
  text-decoration: none;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
}


.main {
  width:           100%;
  height:          100vh;
  background:      url(../img/main-background.jpg) no-repeat center;
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;

  h2 {
    font-size:           80px;
    text-align:          center;
    font-family:         'Titan One', cursive;
    text-transform:      uppercase;
    color:               @secondary-white;
    -webkit-text-stroke: 2px @primary;
  }

  a {
    padding:        0;
    text-align:     center;
    background:     rgba(255, 255, 255, 0);
    color:          @secondary-white;
    text-transform: uppercase;
    font-size:      20px;

    &:after,
    &:before {
      backface-visibility: hidden;
      border:              2px solid rgba(@primary, 0);
      bottom:              0;
      content:             " ";
      display:             block;
      margin-top:          30px;
      margin-bottom:       30px;
      position:            relative;
      transition:          all 280ms ease-in-out;
      width:               0;
    }


    &:hover:after,
    &:hover:before {
      border-color: @primary;
      transition:   width .5s ease-in-out;
      width:        189.36px;
    }

    &:hover:before {
      top:   0;
      width: 189.36px;
    }
  }
}


/*Страница логина*/

.sign-in-label {
  font-size:           80px;
  text-align:          center;
  font-family:         'Titan One', cursive;
  text-transform:      uppercase;
  color:               @secondary-white;
  -webkit-text-stroke: 2px @primary;
  padding-top:         50px;

}

.container {
  width:      100vw;
  height:     100vh;
  background: url(../img/main-background.jpg) no-repeat center;
}

.init-form {
  overflow:        hidden;
  display:         flex;
  justify-content: space-around;
  align-items:     center;
  margin-top:      10%;
}

.login-form {
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  margin-left:     150px;

  > * {
    margin-bottom: 20px;
  }

  input {
    width:         400px;
    height:        70px;
    padding:       15px;
    background:    @secondary-white;
    border:        2px solid @primary;
    color:         @secondary-grey;
    border-radius: 20px;
    font-size:     17px;
  }

  .submit {
    height:         50px !important;
    background:     @primary;
    border:         none;
    text-transform: uppercase;
    color:          @secondary-white;
    font-weight:    500;
    font-size:      15px;
    padding-left:   0;
    cursor:         pointer;

    &:hover {
      background: darken(@primary, 10%);
    }
  }

  a {
    width:           400px;
    padding-top:     16px;
    padding-bottom:  16px;
    border-radius:   20px;
    background:      @secondary-grey;
    border:          none;
    text-transform:  uppercase;
    color:           @secondary-white;
    font-size:       15px;
    font-weight:     500;
    text-align:      center;
    text-decoration: none;

    &:hover {
      background: darken(@secondary-grey, 10%);
    }
  }
}


//Навигационная панель
.navbar {
  background:  rgba(255, 255, 255, 0);
  box-shadow:  2px 12px 30px -17px rgba(34, 60, 80, 0.2);
  width:       100%;
  display:     flex;
  align-items: center;

  .menu {
    margin-left:     50px;
    margin-right:    auto;
    width:           fit-content;
    display:         flex;
    justify-content: center;
    align-items:     center;
    height:          100px;
    list-style:      none;

    li {
      margin-left:  15px;
      margin-right: 15px;
      font-size:    20px;
      transition:   .3s linear;

      a {
        color: @primary;

        &:visited {
          color: @primary;
        }

        &:hover {
          color: darken(@primary, 20%);
        }
      }
    }
  }

  .logout {
    margin-right: 20px;

    button {
      padding:       5px 15px;
      border-radius: 25%;
      border:        @primary 2px solid;
      color:         @primary;
      background:    rgba(0, 0, 0, 0);
      cursor:        pointer;

      &:hover {
        background: @primary;
        color:      @secondary-white;
      }
    }
  }
}

.open-navbar {
  display: none;
}

/*Главная страница*/
.front_page {
  background: url(../img/main-background.jpg) no-repeat center;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
}

.header {
  height:          60vh;
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;

  h2 {
    font-size:           80px;
    text-align:          center;
    font-family:         'Titan One', cursive;
    text-transform:      uppercase;
    color:               @secondary-white;
    -webkit-text-stroke: 2px @primary;
  }
}

.filter {
  width:      fit-content;
  margin-top: 110px;

  input {
    width:         50vw;
    height:        50px;
    padding:       15px;
    border:        2px @primary solid;
    border-radius: 15px 0 0 15px;
    color:         @secondary-grey;
    background:    @secondary-white;
    border-right:  none;
    font-size:     17px;
  }

  button {
    height:        50px;
    padding-right: 15px;
    border:        2px @primary solid;
    border-radius: 0 15px 15px 0;
    background:    @secondary-white;
    border-left:   none;
    margin-left:   -10px;
    color:         @primary;
    font-size:     17px;
    cursor:        pointer;
  }
}

.main-message-page {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  margin-top:     80px;
  margin-bottom:  100px;
}

.add-message-field {
  display: flex;


  input {
    margin-right:  5px;
    width:         300px;
    height:        50px;
    padding-left:  15px;
    background:    @secondary-white;
    border:        2px solid @primary;
    color:         @secondary-grey;
    border-radius: 10px;
    font-size:     17px;
  }

  .tag {
    width: 100px;
  }

  #file {
    height:   0;
    width:    0;
    overflow: hidden;
    display:  none;
  }

  [type="file"] + label {
    width:           50px;
    height:          50px;
    background:      @secondary-white;
    border:          none;
    border-radius:   10px;
    cursor:          pointer;
    outline:         none;
    position:        relative;
    transition:      all 0.3s;
    margin-right:    5px;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }

  button {
    background:    @primary;
    color:         @secondary-white;
    border:        none;
    height:        50px;
    padding:       10px;
    border-radius: 10px;
    cursor:        pointer;

    &:hover {
      background: darken(@primary, 10%);
    }
  }
}

.message {
  margin-top:    40px;
  width:         50%;
  border-radius: 20px;
  border:        2px solid @primary;
  box-shadow:    0 0 82px -19px rgba(34, 60, 80, 0.4);

  .delete {
    display: inline-block;
    float:   right;

    button {
      background: none;
      border:     none;
      cursor:     pointer;
      color:      @secondary-white;
      font-size:  15px;
    }
  }

  .content-container {
    display:         flex;
    justify-content: center;
    padding:         5px;

    img {
      width:      100%;
      height:     100%;
      max-width:  300px;
      max-height: 260px;
      object-fit: contain;
    }
  }

  span {
    display: block;
    padding: 20px;

    a {
      color: @secondary-white;

      &:visited {
        color: @secondary-white;
      }
    }
  }

  .message-author {
    border-radius: 15px 15px 0 0;
    font-size:     20px;
    background:    @primary;
    color:         @secondary-white;
  }

  .message-tag {
    font-style:  italic;
    display:     flex;
    height:      60px;
    align-items: center;

  }

  .message-time {
    display:     inline;
    margin-left: auto;
  }

  .send_comment {
    display:         flex;
    justify-content: center;

    .input_comment {
      width:         50vw;
      margin-left:   20px;
      height:        50px;
      padding:       15px;
      border:        2px @primary solid;
      border-radius: 15px;
      color:         @secondary-grey;
      background:    @secondary-white;
      font-size:     17px;
    }

    .submit_comment {
      margin-left:   20px;
      margin-right:  20px;
      background:    @primary;
      color:         @secondary-white;
      border:        none;
      cursor:        pointer;
      border-radius: 10px;
      padding:       10px;
    }
  }

  .like_post {
    display:     flex;
    align-items: center;

    .submit_like {
      background: none;
      border:     none;
      cursor:     pointer;
      padding:    20px 0 0 20px;

      img {
        width:  32px;
        height: 32px;
        cursor: pointer;
      }
    }

    .number_of_likes {
      padding-left:   10px;
      padding-bottom: 0;
    }
  }

  .comments {
    margin-top: 30px;
    transition: height .5s ease-out;

    .comments-list {
      overflow:   hidden;
      height:     0;
      transition: height .5s ease-out;
    }

    h2 {
      margin-left: 20px;
      color:       @secondary-grey !important;
      font-size:   20px;
      cursor:      pointer;
    }

    .comments-list span :nth-child(even) {
      background: darken(@secondary-white, 50%) !important;
      color:      @secondary-white;
    }

    .comment_one {
      border-radius: 20px;
      margin:        20px;
      background:    darken(@secondary-white, 10%);

      .comment_author {
        padding-bottom: 5px;
      }

      .comment_text {
        padding-top:    5px;
        padding-bottom: 5px;
      }

      .comment_time {
        text-align:  end;
        padding-top: 0;
        font-size:   13px;
      }
    }

    h2 {
      font-weight: 300;
      font-size:   16px;
      margin:      20px;
    }
  }
}

//Панель админа

.admin-header-nav {
  background:     url(../img/secondary-background.jpg) no-repeat center;
  box-shadow:     0 0 82px -19px rgba(34, 60, 80, 0.4);
  width:          100%;
  height:         fit-content;
  padding-bottom: 10%;

  .admin-header {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    padding-top:    10%;
  }


  h2 {
    font-size:           80px;
    text-align:          center;
    font-family:         'Titan One', cursive;
    text-transform:      uppercase;
    color:               @secondary-white;
    -webkit-text-stroke: 2px @primary;
    padding-bottom:      70px;
  }

  input {
    width:         50vw;
    height:        50px;
    padding:       15px;
    border:        2px @primary solid;
    border-radius: 15px;
    color:         @secondary-grey;
    background:    @secondary-white;
    font-size:     17px;
  }

}

.user-list-container {
  width:           100%;
  display:         flex;
  justify-content: center;
  margin-top:      80px;

  .users-list {
    width:     80%;
    display:   flex;
    flex-wrap: wrap;
  }
}

.user {
  max-width:     30%;
  flex:          30%;
  border:        @primary 2px solid;
  border-radius: 15px;
  margin-left:   10px;
  margin-bottom: 20px;

  .user-header {
    background:    @primary;
    color:         @secondary-white;
    border-radius: 10px 10px 0 0;
    padding:       10px;

    .id {
      font-weight:  bold;
      margin-right: 10px;
    }
  }

  .user-role {
    padding: 10px;
  }

  .delete-edit-user {
    padding: 10px;

    a {
      color: green;

      &:visited {
        color: green;
      }
    }

    input {
      background: none;
      border:     none;
      cursor:     pointer;
      font-size:  17px;
      color:      darkred;
    }
  }
}

//Профиль пользователя (дизайн списка сообщений прописан выше в стилях главной страницы)
.container-profile {
  display:         flex;
  justify-content: center;
}

.profile-info {
  display:         flex;
  justify-content: center;
  align-items:     center;
  margin-top:      60px;
  padding:         50px 80px;
  box-shadow:      0 0 46px -7px rgba(154, 154, 154, 0.2);
  width:           fit-content;
  border-radius:   20px;

  .icon-rewards {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    box-shadow:     0 0 46px -7px rgb(154 154 154 / 20%);
    border-radius:  20px;
    padding:        20px;
  }


  .icon {
    width:         256px;
    height:        256px;
    border-radius: 50%;
    border:        @primary 2px solid;
    margin-bottom: 20px;
  }


  .main-info {
    max-width:       712px;
    min-width:       712px;
    padding:         30px;
    box-shadow:      0 0 46px -7px rgb(154 154 154 / 20%);
    height:          100%;
    border-radius:   20px;
    margin-left:     10px;
    display:         flex;
    flex-direction:  column;
    justify-content: center;

    h3 {
      font-size: 30px;
      color:     @secondary-grey;
    }

    span {
      color: lighter(@secondary-grey, 10%);
    }

    .subscriptions {
      margin-top:    10px;
      margin-bottom: 10px;

      span {
        display: block;
      }
    }

    .user_page_button, button {
      width:         100%;
      display:       block;
      padding:       20px 30px;
      background:    @primary;
      margin-top:    10%;
      border-radius: 20px;
      text-align:    center;
      color:         @secondary-white;
      border:        none;
      cursor:        pointer;

      &:hover {
        background: darken(@primary, 10%);
      }
    }


    .unsubscribe {
      background: @secondary-grey;

      &:hover {
        background: darken(@secondary-grey, 10%);
      }
    }
  }
}

//Футер
footer {
  background:      @primary;
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;
  padding:         50px;
  margin-top:      auto;


  h2 {
    color:         @secondary-white;
    margin-bottom: 60px;

  }

  .social-media {
    display:         flex;
    align-items:     center;
    justify-content: center;

    a {
      margin-right:    10px;
      margin-left:     10px;
      display:         flex;
      flex-direction:  column;
      align-items:     center;
      justify-content: center;
      text-decoration: none;
      color:           @secondary-white;

      img {
        width:  42px;
        height: 42px;
      }
    }
  }
}

//Редактирование пользователя (профиль)
.edit_self_profile {
  margin-top:      100px;
  display:         flex;
  justify-content: center;

  .editble {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    padding:        50px;
    border-radius:  20px;
    box-shadow:     0 0 46px -7px rgba(154, 154, 154, 0.2);
    margin-bottom:  80px;

    > * {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 30px;
      color:     @primary;
    }

    [type="text"] {
      width:         400px;
      height:        50px;
      padding:       15px;
      border:        2px @primary solid;
      border-radius: 15px;
      color:         @secondary-grey;
      background:    @secondary-white;
      font-size:     17px;
    }

    .status_edit_textarea {
      height: 150px !important;
    }

    .save_btn {
      border:         none;
      cursor:         pointer;
      background:     @primary;
      color:          @secondary-white;
      width:          400px;
      height:         50px;
      border-radius:  20px;
      text-transform: uppercase;
      font-size:      16px;
    }
  }

  [type="file"] + label {
    background:      @secondary-white;
    border:          none;
    border-radius:   10px;
    cursor:          pointer;
    outline:         none;
    position:        relative;
    transition:      all 0.3s;
    margin-right:    5px;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }

  #file {
    height:   0;
    width:    0;
    overflow: hidden;
    display:  none;
  }
}

//Редактирование пользователя (Только для админов)

.section-admin-edit {
  width:           100vw;
  height:          100vh;
  display:         flex;
  justify-content: center;
  align-items:     center;

  .admin-edit-container {
    padding:        30px;
    border-radius:  20px;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    box-shadow:     0 4px 31px 0 rgba(34, 60, 80, 0.2);
  }

  .admin-edit-form {
    margin-top:     30px;
    display:        flex;
    flex-direction: column;
    align-items:    center;

    .username {
      width:         100%;
      height:        30px;
      padding:       15px;
      border:        2px @primary solid;
      border-radius: 15px;
      color:         @secondary-grey;
      background:    @secondary-white;
      font-size:     17px;
      margin-bottom: 20px;
    }

    button {
      margin-top:     20px;
      text-transform: uppercase;
      cursor:         pointer;
      background:     @primary;
      color:          @secondary-white;
      border:         none;
      border-radius:  10px;
      padding:        10px;
    }

    .container-of-roles {
      display:         flex;
      align-items:     center;
      justify-content: center;
      flex-direction:  column;
      width:           50%;

      .check-boxes {
        display:         flex;
        align-items:     center;
        justify-content: space-between;
        width:           100%;
      }
    }
  }
}

//Список пользователей

.users-filter {
  margin-top:      50px;
  display:         flex;
  justify-content: center;

  input {
    width:         73vw;
    height:        50px;
    padding:       15px;
    border:        2px @primary solid;
    border-radius: 15px 0 0 15px;
    color:         @secondary-grey;
    background:    @secondary-white;
    border-right:  none;
    font-size:     17px;
  }

  button {
    height:        50px;
    padding-right: 15px;
    border:        2px @primary solid;
    border-radius: 0 15px 15px 0;
    background:    @secondary-white;
    border-left:   none;
    margin-left:   -10px;
    color:         @primary;
    font-size:     17px;
    cursor:        pointer;
  }
}

.all-users-list {
  margin-bottom: 50px;
}

.user-from-users {
  width: fit-content;
  color: @secondary-grey;

  .go-to-user {
    color: @secondary-grey;

    &:visited {
      color: @secondary-grey;
    }
  }
}


//Чаты
.container-chat-pages {
  width:           100vw;
  height:          100vh;
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;

  .chat-window {
    width:         80%;
    height:        80%;
    box-shadow:    0 0 40px -12px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    padding:       30px;
    overflow:      scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}

.receiver-info {
  margin-top:    30px;
  border-radius: 20px;
  height:        100px;
  width:         80%;
  padding:       30px;
  display:       flex;
  align-items:   center;
  box-shadow:    0 0 40px -12px rgba(34, 60, 80, 0.2);
  margin-bottom: 30px;

  img {
    width:         60px;
    height:        60px;
    border-radius: 50%;
    margin-right:  30px;
  }

  .receiver-name {
    font-size: 30px;
  }
}

.all_chat_messages {
  .sender-message-block {
    margin-bottom: 20px;
    width:         40%;
    font-size:     20px;
    background:    @primary;
    border-radius: 20px;
    padding:       20px;
    color:         @secondary-white;
    margin-left:   auto;
  }

  .receiver-message {
    margin-left: 0;
    background:  @secondary-grey;
  }
}

.sendmes {
  padding:         30px;
  border-radius:   20px;
  box-shadow:      0 0 40px -12px rgba(34, 60, 80, 0.2);
  width:           80%;
  margin-top:      30px;
  margin-bottom:   40px;
  display:         flex;
  align-items:     center;
  justify-content: center;

  #chat_text {
    display:       block;
    width:         40%;
    height:        58px;
    max-height:    300px;
    line-height:   20px;
    resize:        none;
    background:    #ececec;
    border-radius: 20px;
    padding:       10px;
    border:        none;
    outline:       none;
    overflow:      scroll;

    &:focus {
      border:  none;
      outline: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #chat_send_button {
    height:        40px;
    margin-left:   20px;
    border:        none;
    padding:       5px;
    width:         60px;
    border-radius: 20px;
    background:    @primary;
    color: @secondary-white;
    cursor:        pointer;
  }
}

@media (max-width: 576px) {

  .main {
    background: @mobile-background;
  }

  //Навбар
  .navbar {
    position:       absolute;
    flex-direction: column;
    background:     @secondary-white;
    transition:     transform .7s linear;
    transform:      translateY(-600px);

    .menu {
      flex-direction: column;
      margin-left:    auto;
      height:         fit-content;
      margin-top:     15px;

      li {
        margin-bottom: 10px;
      }
    }

    .logout {
      margin-right:  0;
      margin-bottom: 15px;
    }
  }

  .open-navbar {
    display:         flex;
    align-items:     center;
    justify-content: center;
    width:           35px;
    height:          35px;
    background:      white;
    border:          2px solid @primary;
    border-radius:   8px;
    color:           @primary;
    position:        absolute;
    right:           19px;
    top:             10px;
    z-index:         100;
  }

  .open {
    transform: translateY(0) !important;

    .arrow {
      transform: rotate(90deg);
    }
  }


  //Страница логина
  .container {
    background: @mobile-background;

    .sign-in-label {
      font-size: 60px;
    }

    .init-form {
      height: fit-content;

      img {
        display: none;
      }
    }

    .login-form {
      margin-top:  130px;
      margin-left: 0;
      transform:   scale(0.9);
    }
  }


  //Главная страница
  .header {
    height:          fit-content;
    justify-content: start;
    margin-top:      50px;
    margin-bottom:   100px;

    h2 {
      font-size: 60px;
    }
  }

  .front_page {
    background: @mobile-background;
  }

  .filter {
    margin-top: 59px;
  }

  .main-message-page {
    margin-top: 40px;
  }

  .add-message-field {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    box-shadow:     0 0 46px -7px rgba(154, 154, 154, 0.2);
    padding:        26px;
    border-radius:  20px;

    input {
      margin-bottom: 10px;
    }

    .tag {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  .message {
    width: 95%;
  }


  //Профиль пользователя
  .profile-info {
    flex-direction:  column;
    padding:         20px 0;
    margin-top:      60px;
    width:           95%;
    display:         flex;
    justify-content: center;

    .icon-rewards {
      background:    none;
      box-shadow:    none;
      border-radius: 0;

    }

    .icon {
      width:  128px;
      height: 128px;
    }

    .main-info {
      min-width:     auto;
      display:       block;
      padding:       10px 30px 0 30px;
      width:         100%;
      background:    none;
      box-shadow:    none;
      border-radius: 0;

      .user_page_button, button {
        margin-top: 20px;
      }
    }
  }

  //Редактирование пользователя (профиль)
  .edit_self_profile {
    margin-top: 20px;

    .editble {
      transform: scale(0.8);
      padding:   20px;
    }
  }


  //Футер
  footer {
    h2 {
      font-size:     20px;
      margin-bottom: 40px;
    }

    .social-media {
      a {
        span {
          font-size:  10px;
          margin-top: 5px;
        }

        img {
          width:  42px;
          height: 42px;
        }
      }
    }
  }

  //Панель админа
  .admin-header-nav {
    h2 {
      font-size: 60px;
    }

  }

  .user-list-container {

    .users-list {
      display:        flex;
      flex-wrap:      nowrap;
      flex-direction: column;
    }
  }

  .user {
    max-width: 100%;
  }
}