* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', serif;
  transition: 0.3s linear;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.main {
  width: 100%;
  height: 100vh;
  background: url(../img/serverimg/main-background.jpg) no-repeat center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
}
.main a {
  padding: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}
.main a:after,
.main a:before {
  backface-visibility: hidden;
  border: 2px solid rgba(0, 140, 255, 0);
  bottom: 0;
  content: " ";
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.main a:hover:after,
.main a:hover:before {
  border-color: #008cff;
  transition: width 0.5s ease-in-out;
  width: 189.36px;
}
.main a:hover:before {
  top: 0;
  width: 189.36px;
}
/*Страница логина*/
.sign-in-label {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
  padding-top: 50px;
}
.container {
  width: 100vw;
  height: 100vh;
  background: url(../img/serverimg/main-background.jpg) no-repeat center;
}
.init-form {
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
}
.login-form > * {
  margin-bottom: 20px;
}
.login-form input {
  width: 400px;
  height: 70px;
  padding-left: 15px;
  background: #ffffff;
  border: 2px solid #008cff;
  color: #5e5e5e;
  border-radius: 20px;
  font-size: 17px;
}
.login-form .submit {
  height: 50px !important;
  background: #008cff;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding-left: 0;
  cursor: pointer;
}
.login-form .submit:hover {
  background: #0070cc;
}
.login-form a {
  width: 400px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 20px;
  background: #5e5e5e;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
.login-form a:hover {
  background: #454545;
}
/*Главная страница*/
header {
  background: url(../img/serverimg/main-background.jpg) no-repeat center;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
}
.header {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
  position: absolute;
  top: 10%;
}
.logout button {
  position: absolute;
  right: 30px;
  padding: 5px 15px;
  margin-top: 20px;
  border-radius: 25%;
  border: #008cff 2px solid;
  color: #008cff;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.logout button:hover {
  background: #008cff;
  color: #ffffff;
}
.filter {
  width: fit-content;
  margin-top: 110px;
}
.filter input {
  width: 50vw;
  height: 50px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px 0 0 15px;
  color: #5e5e5e;
  background: #ffffff;
  border-right: none;
  font-size: 17px;
}
.filter button {
  height: 50px;
  padding-right: 15px;
  border: 2px #008cff solid;
  border-radius: 0 15px 15px 0;
  background: #ffffff;
  border-left: none;
  margin-left: -4px;
  color: #008cff;
  font-size: 17px;
  cursor: pointer;
}
.main-message-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.add-message-field {
  display: flex;
}
.add-message-field input {
  margin-right: 5px;
  width: 300px;
  height: 50px;
  padding-left: 15px;
  background: #ffffff;
  border: 2px solid #008cff;
  color: #5e5e5e;
  border-radius: 10px;
  font-size: 17px;
}
.add-message-field .tag {
  width: 100px;
}
.add-message-field #file {
  height: 0;
  width: 0;
  overflow: hidden;
  display: none;
}
.add-message-field [type="file"] + label {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-message-field button {
  background: #008cff;
  color: #ffffff;
  border: none;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.add-message-field button:hover {
  background: #0070cc;
}
.message {
  margin-top: 40px;
  width: 40%;
  border-radius: 20px;
  border: 2px solid #008cff;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
}
.message:hover {
  transform: scale(1.2);
}
.message .delete {
  display: inline-block;
  float: right;
}
.message .delete button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
}
.message .content-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.message .content-container img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 260px;
}
.message span {
  display: block;
  padding: 20px;
}
.message span a {
  color: #ffffff;
}
.message span a:visited {
  color: #ffffff;
}
.message .message-author {
  border-radius: 15px 15px 0 0;
  font-size: 20px;
  background: #008cff;
  color: #ffffff;
  overflow: hidden;
}
.message .message-tag {
  font-style: italic;
}
.admin-header {
  background: url(../img/serverimg/secondary-background.jpg) no-repeat center;
  box-shadow: 0 0 82px -19px rgba(34, 60, 80, 0.4);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.admin-header h2 {
  font-size: 80px;
  text-align: center;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 2px #008cff;
  padding-bottom: 70px;
}
.admin-header input {
  width: 50vw;
  height: 50px;
  padding: 15px;
  border: 2px #008cff solid;
  border-radius: 15px;
  color: #5e5e5e;
  background: #ffffff;
  font-size: 17px;
}
.user-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.user-list-container .users-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.user {
  max-width: 30%;
  flex: 30%;
  border: #008cff 2px solid;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.user .user-header {
  background: #008cff;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.user .user-header .id {
  font-weight: bold;
  margin-right: 10px;
}
.user .user-role {
  padding: 10px;
}
.user .delete-edit-user {
  padding: 10px;
}
.user .delete-edit-user a {
  color: green;
}
.user .delete-edit-user a:visited {
  color: green;
}
.user .delete-edit-user input {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  color: darkred;
}
.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.profile-info .icon {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: #008cff 2px solid;
}
.profile-info .main-info {
  height: 256px;
  width: fit-content;
  max-width: 712px;
  padding: 30px;
}
.profile-info .main-info h3 {
  font-size: 30px;
  color: #5e5e5e;
}
.profile-info .main-info span {
  color: lighter(#5e5e5e, 10%);
}
/*# sourceMappingURL=style.css.map */